{{page-title "EmberEnroll"}}

<BsNavbar @type="dark" @backgroundColor="dark" as |navbar|>
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/ember-enroll/ember_Tomster-Lockup.png" width="50" height="50" alt="">
            Ember Enroll
        </a>
        <navbar.content>
            A simple demonstration of an EmberJS-powered enrollment application
        </navbar.content>
    </div>
</BsNavbar>

<div class="container main-content-container">
    {{outlet}}
</div>

<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="https://github.com/SteelBurgher/ember-enroll">Github Repo</a>
    </div>
</nav>